{%- macro general() -%}
ENV USER=ubuntu \
    UID=1000 \
    GID=1000 \
    PATH="${PATH}:/opt/conda/bin"
{% endmacro %}

{%- macro noninteractive() -%}
ENV DEBIAN_FRONTEND="noninteractive"
{% endmacro %}