{%- macro install_main_pakage() -%}
RUN apt-get update \
    && apt-get install -y software-properties-common \
    && add-apt-repository ppa:git-core/ppa -y \
    && apt-get update \
    && apt-get install -y --no-install-recommends \
         build-essential \
         openssh-server \
         git \
         locales \
         rsync \
         curl \
         wget \
         iputils-ping \
         telnet \
         screen \
         nano \
         vim \
         sudo \
         unzip \
    && apt-get clean \
    && rm -rf /var/lib/apt/lists/*
{% endmacro %}

{%- macro install_python() -%}
RUN add-apt-repository ppa:deadsnakes/ppa -y \
    && apt-get update \
    && apt-get install -y --no-install-recommends \
         ${INTERPRETER} \
         ${INTERPRETER}-distutils \
    && apt-get clean \
    && rm -rf /var/lib/apt/lists/*
{% endmacro %}

{%- macro install_node() -%}
RUN curl -o ~/nodejs.sh --silent --location https://deb.nodesource.com/setup_12.x \
    && bash ~/nodejs.sh \
    && apt-get install --yes nodejs \
    && npm install -g yarn \
    && rm -f ~/nodejs.sh
{% endmacro %}

{%- macro add_user() -%}
RUN addgroup --gid "$GID" "$USER" \
    && adduser \
         --disabled-password \
         --gecos "" \
         --ingroup "$USER" \
         --uid "$UID" \
         --shell /bin/bash \
         "$USER"
{% endmacro %}

{%- macro configure() -%}
RUN rm -f /etc/ssh/ssh_host_*key* \
    && mkdir -p \
         /run/sshd \
         /home/"$USER"/.ssh \
    && chmod 700 /home/"$USER"/.ssh \
    && chown $USER:$USER -R /home/"$USER" /tmp \
    && echo "ubuntu ALL=(ALL) NOPASSWD:ALL" > /etc/sudoers.d/90-ubuntu \
    && chmod 600 /home/"$USER"/.ssh/config \
    && chown -R $USER:$USER /home/"$USER"/.ssh \
    && chmod +x /usr/local/bin/* \
    && echo "PATH=\"${PATH}\"" > /etc/environment
{% endmacro %}

{%- macro clean_up() -%}
RUN rm -rf \
        /var/cache/debconf \
        /tmp/*
{% endmacro %}

{%- macro create_link() -%}
RUN rm -rf /usr/local/bin/pip3 \
      /usr/local/bin/pip \
      /usr/bin/python3 \
      /usr/bin/python \
    && ln -s /usr/local/bin/pip${INTERPRETER_VERSION} /usr/local/bin/pip \
    && ln -s /usr/local/bin/pip${INTERPRETER_VERSION} /usr/local/bin/pip3 \
    && ln -s /usr/bin/${INTERPRETER} /usr/bin/python3 \
    && ln -s /usr/bin/python3 /usr/bin/python
{% endmacro %}

{%- macro install_pip() -%}
RUN curl https://bootstrap.pypa.io/get-pip.py -o /tmp/get-pip.py \
    && ${INTERPRETER} /tmp/get-pip.py \
    && rm -rf /tmp/get-pip.py
{% endmacro %}

{%- macro install_conda() -%}
RUN curl -o ~/miniconda.sh https://repo.anaconda.com/miniconda/Miniconda3-latest-Linux-x86_64.sh \
    && chmod +x ~/miniconda.sh \
    && ~/miniconda.sh -b -p /opt/conda \
    && rm ~/miniconda.sh
{% endmacro %}

{%- macro install_default_pip_package() -%}
RUN ${INTERPRETER} -m pip install -r /tmp/requirements.txt
{% endmacro %}

{%- macro install_pip_package(packages) -%}
RUN ${INTERPRETER} -m pip install \
  {%- for package in packages -%}
    {%- if package.type == "pip" -%}
      {% if package.version is defined %}
        {{ package.name }}=={{ package.version }} \
      {%- else %}
        {{ package.name }} \
      {%- endif %}
    {%- endif %}
  {%- endfor %}
    && ${INTERPRETER} -m pip cache purge
{% endmacro %}

{%- macro install_yarn_package(packages) -%}
RUN yarn add \
  {%- for package in packages -%}
    {%- if package.type == "yarn" -%}
      {% if package.version is defined %}
        {{ package.name }}@{{ package.version }} \
      {%- else %}
        {{ package.name }} \
      {%- endif %}
    {%- endif %}
  {%- endfor %}
    && yarn cache clean
{% endmacro %}

{%- macro install_rclone() -%}
RUN curl https://rclone.org/install.sh -o ~/install.sh \
    && chmod +x ~/install.sh \
    && ~/install.sh \
    && rm ~/install.sh
{% endmacro %}

{%- macro install_cuda_pakage() -%}
RUN apt-get update \
    && apt-get install -y --no-install-recommends \
         cuda-command-line-tools-${CUDA/./-} \
         # There appears to be a regression in libcublas10=10.2.2.89-1 which
         # prevents cublas from initializing in TF. See
         # https://github.com/tensorflow/tensorflow/issues/9489#issuecomment-562394257
         libcublas10=10.2.1.243-1 \ 
         cuda-nvrtc-${CUDA/./-} \
         cuda-cufft-${CUDA/./-} \
         cuda-curand-${CUDA/./-} \
         cuda-cusolver-${CUDA/./-} \
         cuda-cusparse-${CUDA/./-} \
         libcudnn7=${CUDNN}+cuda${CUDA} \
    && apt-get clean \
    && rm -rf /var/lib/apt/lists/*

RUN apt-get update \
    && apt-get install -y --no-install-recommends \
         libnvinfer6=6.0.1-1+cuda${CUDA} \
         libnvinfer-dev=6.0.1-1+cuda${CUDA} \
         libnvinfer-plugin6=6.0.1-1+cuda${CUDA} \
    && apt-get clean \
    && rm -rf /var/lib/apt/lists/*
{% endmacro %}

{%- macro enable_jupyter_extensions() -%}
RUN ${INTERPRETER} -m pip install nbconvert==5.6.1 --force \
    && jupyter contrib nbextension install --sys-prefix
{% endmacro %}

{%- macro install_tini(version) -%}
ARG TINI_VERSION={{version}}
ADD https://github.com/krallin/tini/releases/download/${TINI_VERSION}/tini /usr/local/bin/tini
{% endmacro %}
