# {{image_name}} Docker image

{{image_description}}

Non-root Docker image used by puzl.ee [cloud Kubernetes](https://puzl.ee) service. Based on [official {{source_image_name}}]({{source_image_link}}) Docker image.
{% if interpreters is defined %}## Supported languages and interpreter versions
{% for interpreter in interpreters %}- {{interpreter}}
{% endfor %}{% endif %}
{% if installed_packages is defined %}## Installed packages
{% if 'os' in installed_packages %}### OS
{% for package in installed_packages.os %}- {{package.name}}{% if package.version is defined %}, version {{package.version}}{% endif %}
{% endfor %}{% endif %}
{% if 'pip' in installed_packages %}### Python
{% for package in installed_packages.pip %}- [{{package.name}}](https://pypi.org/project/{{package.name}}/){% if package.version is defined %}, version {{package.version}}{% endif %}
{% endfor %}{% endif %}
{% if 'npm' in installed_packages or 'yarn' in installed_packages%}### JavaScript
{% if 'npm' in installed_packages %}{% for package in installed_packages.npm %}- [{{package.name}}](https://www.npmjs.com/package/{{package.name}}/){% if package.version is defined %}, version {{package.version}}{% endif %}
{% endfor %}{% endif %}
{% if 'yarn' in installed_packages%}{% for package in installed_packages.yarn %}- [{{package.name}}](https://www.npmjs.com/package/{{package.name}}/){% if package.version is defined %}, version {{package.version}}{% endif %}
{% endfor %}{% endif %}{% endif %}
{% endif %}