numpy==1.26.0
pyyaml==6.0.1
scipy==1.11.3
ipython
mkl==2023.2.0
mkl-include==2023.2.0
ninja==1.11.1.1
cython==3.0.3
typing==3.7.4.3
matplotlib==3.8.0
jupyter_contrib_nbextensions==0.7.0
pandas==2.1.1
ipywidgets==8.1.1
blis==0.7.11
